PORT=3000
GEMINI_API_KEY=<type your key here>
STEAM_API_KEY=<type your Steam API key here>
SESSION_SECRET=<type your session secret here>
STEAM_RETURN_URL=<type your Steam return URL here>
STEAM_CALLBACK_URL=<type your Steam callback URL here>
DB_CONNECTION_STRING=<type your connection string here>
