LLM_API_KEY=<type your key here>
STEAM_API_KEY=<type your Steam API key here>
SESSION_SECRET=<type your session secret here>
STEAM_RETURN_URL=<type your Steam return URL here>
DOMAIN=<type your Steam callback URL here>
MONGODB_NAME=<type your db name string here>
MONGODB_URI=<type your MongoDB URI here>
